{% extends "base.html.twig" %}

{% set page_title = "Publishing " ~ identifier %}

{% block content %}
    {% for message in messages %}
        <p>
            <span class="message message-{{ message.label|lower }}">
                {{ message.label }}
            </span>
            <span class="separator">:</span>
            {{ message.content|raw }}
        </p>
    {% endfor %}
{% endblock %}
