/* Fonts */

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    src: url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../fonts/GoogleSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Variables */

:root {
    --dp-theme-primary: #086287;
    --dp-theme-secondary: #81C459;
}

[data-dp-theme="civicrm-light"] {
    --dp-theme-primary: #086287;
    --dp-theme-secondary: #81C459;
    --dp-theme-background: #F2F2F2;
    --dp-theme-text: #333333;
    --dp-theme-header-nav: #F2F2F2;
    --dp-theme-footer-bg: #444444;
    --dp-theme-footer-fg: #F1F1F1;
}

[data-dp-theme="civicrm-dark"] {
    --dp-theme-primary: #81C459;
    --dp-theme-secondary: #086287;
    --dp-theme-background: #333333;
    --dp-theme-text: #F2F2F2;
    --dp-theme-header-nav: #333333;
    --dp-theme-footer-bg: #222222;
    --dp-theme-footer-fg: #F1F1F1;
}
  

/* Scaffolding */

body {
    font: 400 16px "Roboto", "Google Sans", sans-serif;
    line-height: 1.5rem;
    background-color: var(--dp-theme-background);
    color: var(--dp-theme-text);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", "Google Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

a {
    color: var(--dp-theme-primary);
}

a:hover {
    color: var(--dp-theme-primary);
}

.uk-text-meta {
    color: var(--dp-theme-text);
}

.uk-text-meta a {
    color: var(--dp-theme-text);
}

.uk-text-meta a:hover {
    color: var(--dp-theme-text);
    text-decoration: underline;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
    color: var(--dp-theme-text);
}

/* Navbar */

.uk-navbar.uk-navbar-container {
    background-color: var(--dp-theme-primary);
    height: auto;
    padding: 0 12px;
}

.uk-navbar-nav {
    padding: 0 12px;
}

.uk-navbar-nav>li>a {
    color: var(--dp-theme-header-nav);
    text-transform: none;
}

.uk-navbar-nav>li>a:hover {
    color: var(--dp-theme-header-nav);
    text-decoration: underline;
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle, .uk-navbar-nav>li>label {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    column-gap: .25em;
    min-height: 80px;
    padding: 0 12px;
    font-size: 16px;
}

.uk-logo,
.uk-logo:focus,
.uk-logo:hover {
    color: var(--dp-theme-header-nav);
    padding: 0 12px;
}

.uk-logo>:where(img,svg,video) {
    display: inline-block;
}

.uk-logo img svg {
    background-color: var(--dp-theme-header-nav);
}

.uk-navbar .uk-icon svg {
    height: 1.2rem;
    width: 1.2rem;
}

/* Sections */

.uk-section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.uk-section.intro {
    padding-bottom: 0px; 
}

.uk-section.core {
    padding-top: 0px;
}

.uk-section.extensions {
    padding-top: 0px;
}

/* Core Books */

.core {
    padding-bottom: 0px;
}

.core .books {
    padding-top: 20px;
    padding-bottom: 20px;
}

.core .book-cards .uk-card {
    border-color: var(--dp-theme-primary);
    border-radius: 0px;
}

.core .book-cards h2.uk-card-title {
    color: var(--dp-theme-text);
    font-size: 1.25rem;
    line-height: 1.4;
}

.core .book-cards h2.uk-card-title {
    color: var(--dp-theme-primary)
}

.core .book-cards .uk-card .uk-button.uk-button-default {
    color: var(--dp-theme-text);
}

.core .book-cards .uk-card .uk-button.uk-button-primary {
    background-color: var(--dp-theme-primary);
    color: var(--dp-theme-header-nav);
}

.core .book-cards .uk-card .uk-button.uk-icon {
    color: var(--dp-theme-text);
}

.core .book-cards .uk-card .uk-button.uk-button-default:hover {
    background-color: var(--dp-theme-secondary);
    color: black;
}

.core .book-cards .uk-card .uk-button.uk-button-primary:hover {
    background-color: black;
    color: white;
}

.core .book-cards .uk-card .uk-button.uk-icon:hover {
    background-color: black;
    color: white;
}

/* Community Books */

.community .book-cards .uk-card .uk-button.uk-button-default {
    color: var(--dp-theme-text);
}

/* Extension Books */

.extensions .books {
    padding-bottom: 20px;
}

.extensions .instructions {
    padding-top: 20px;
}

.extensions .book-cards .uk-card {
    border-color: var(--dp-theme-secondary);
    border-radius: 0px;
}

.extensions .book-cards h2.uk-card-title {
    color: var(--dp-theme-text);
    font-size: 1.25rem;
    line-height: 1.4;
}

.extensions .book-cards .uk-card .uk-label {
    background-color: var(--dp-theme-text);
    border-radius: 0px;
}

.extensions .book-cards .uk-card .uk-button.uk-button-default {
    color: var(--dp-theme-text);
}

.extensions .book-cards .uk-card .uk-button.uk-button-secondary {
    background-color: var(--dp-theme-secondary);
    color: black;
}

.extensions .book-cards .uk-card .uk-button.uk-icon {
    color: black;
}

.extensions .book-cards .uk-card .uk-button.uk-button-default:hover {
    background-color: var(--dp-theme-primary);
    color: var(--dp-theme-header-nav);
}

.extensions .book-cards .uk-card .uk-button.uk-button-secondary:hover {
    background-color: black;
    color: white;
}

.extensions .book-cards .uk-card .uk-button.uk-icon:hover {
    background-color: black;
    color: white;
}

/* Dropdowns */

.uk-dropdown {
    background-color: var(--dp-theme-background);
}

.uk-dropdown-nav > li > a {
    color: var(--dp-theme-text);
}

.uk-dropdown-nav > li > a:hover {
    color: var(--dp-theme-text);
    text-decoration: underline;
}

/* Search */

#search-form .uk-input {
    background-color: var(--dp-theme-background);
    border-color: var(--dp-theme-secondary);
    color: var(--dp-theme-secondary);
}

#search-form .uk-input:focus {
    border-color: var(--dp-theme-primary);
}

/* Buttons */

.uk-button {
    padding: 0 15px;
}

/* Book Cards */

.book-cards .uk-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-width: 1.5px;
  border-style: solid;
  box-shadow: none;
  padding: 5px;
  background-color: var(--dp-theme-background);
}

.book-cards .uk-card-header {
    padding: 1rem;
}

.book-cards .uk-card-body {
    flex: auto;
    padding: 1rem;
}

.book-cards .uk-card-footer {
    padding: 13px;
}

/* Footer */

footer {
    background-color: var(--dp-theme-footer-bg);
    color: var(--dp-theme-footer-fg);
}

footer a {
    color: var(--dp-theme-secondary);
}

footer a:hover {
    color: var(--dp-theme-secondary);
}

/* Theme switcher */

.uk-navbar-form {
    display: flex;
    flex-shrink: 0;
    max-width: 100%;
    transition: max-width 0ms .25s,opacity .25s .25s;
    white-space: nowrap;
}

.dp-option {
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
}

.dp-option:checked+label:not([hidden]) {
    display: block;
}

.dp-theme-button:not(.focus-visible) {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

body[data-dp-theme="civicrm-light"] label[data-dp-theme="civicrm-light"] {
    display: none;
}

label[data-dp-theme="civicrm-light"] {
    color: #333333;
    fill: #333333;
}

body[data-dp-theme="civicrm-dark"] label[data-dp-theme="civicrm-dark"] {
    display: none;
}

label[data-dp-theme="civicrm-dark"] {
    color: #F2F2F2;
    fill: #F2F2F2;
}