{% extends "base.html.twig" %}

{% block content %}
    <section class="uk-section intro">
        <div class="uk-container uk-container-expand">
            <p>CiviCRM offers community contributed documentation below. We encourage everyone to <a href="https://docs.civicrm.org/dev/en/latest/documentation/">contribute to documentation</a>. CiviCRM welcomes all contributions and contributors in line with our community <a href="https://civicrm.org/code-of-conduct">code of conduct</a>.</p>
        </div>
    </section>
    <section class="uk-section community">
        <div class="uk-container uk-container-expand books">
            <h1>Community</h1>
            <p>These books contain information on the CiviCRM Commmunity including policies, notable groups and useful processes.</p>
            {% include 'read/book_list.html.twig' with {books: community_books} %}
        </div>
    </section>
    <section class="uk-section core">
        <div class="uk-container uk-container-expand books">
            <h1>Core</h1>
            <p>These books contain information on installing and configuring the CiviCRM core, that is, CiviCRM without community-contributed extensions. In these books you'll also find information on CiviCRM's underlying coding concepts, APIs, hooks and really everything you need to get started developing for CiviCRM.</p>
            {% include 'read/book_list.html.twig' with {books: core_books} %}
        </div>
    </section>
    <section class="uk-section extensions">
        <div class="uk-container uk-container-expand books">
            <h1>Extensions</h1>
            <p>Extensions can be installed within CiviCRM to provide new functionality not available in core. Below are extension-specific documentation books for those extensions which have documentation provided on this site.</p>
            <div class="uk-grid-collapse uk-grid-divider uk-child-width-auto" uk-grid>
                <form id="search-form" action="">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon uk-form-icon-flip" uk-search-icon></span>
                        <label class="uk-form-label search-label" for="extensionsearch" hidden>Search</label>
                        <input class="uk-input uk-width-1-1 search-input" id="search-input" type="text" placeholder="Type to search/filter extension books...">
                        <a href="#" id="search-button" hidden>Search</a>
                    </div>
                </form>
            </div>
            {% include 'read/book_list.html.twig' with {books: extensions_books} %}
            <div class="instructions">
                <p>If your extension isn't listed above, it may have documentation elsewhere. Here are some places you can look:</p>
                <ul>
                    <li>The extension's website as listed in the <a href="https://civicrm.org/extensions/">CiviCRM Extensions Directory</a></li>
                    <li>The "Documentation" link when viewing the extension details in CiviCRM at Admin -> Settings -> Extensions</li>
                    <li>If no luck there, find the extension online and look for documentation</li>
                    <li>Finally, consider contributing to documentation for the extension - the first step is to open an issue on the extension's issue tracker!</li>
                </ul>
                <p>If you are an extension maintainer, follow these instructions to <a href="https://docs.civicrm.org/dev/en/latest/documentation/extensions/">add documentation for your extension here</a>.</p>
            </div>
        </div>
    </section>
{% endblock %}
