{% import "partials/language.html" as lang with context %}
<footer class="md-footer">
    {% if page.previous_page or page.next_page %}
        <nav class="md-footer__inner md-grid" aria-label="{{ lang.t('footer.title') }}">
            {% if page.previous_page %}
                {% set direction = lang.t("footer.previous") %}
                <a href="{{ page.previous_page.url | url }}" class="md-footer__link md-footer__link--prev" aria-label="{{ direction }}: {{ page.previous_page.title | e }}" rel="prev">
                    <div class="md-footer__button md-icon">
                        {% include ".icons/material/arrow-left.svg" %}
                    </div>
                    <div class="md-footer__title">
                        <div class="md-ellipsis">
                        <span class="md-footer__direction">
                            {{ direction }}
                        </span>
                        {{ page.previous_page.title }}
                        </div>
                    </div>
                </a>
            {% endif %}
            {% if page.next_page %}
                {% set direction = lang.t("footer.next") %}
                <a href="{{ page.next_page.url | url }}" class="md-footer__link md-footer__link--next" aria-label="{{ direction }}: {{ page.next_page.title | e }}" rel="next">
                    <div class="md-footer__title">
                        <div class="md-ellipsis">
                        <span class="md-footer__direction">
                            {{ direction }}
                        </span>
                        {{ page.next_page.title }}
                        </div>
                    </div>
                    <div class="md-footer__button md-icon">
                        {% include ".icons/material/arrow-right.svg" %}
                    </div>
                </a>
            {% endif %}
        </nav>
    {% endif %}
    
    <div class="md-footer-meta md-typeset">
        <div class="md-footer-meta__inner md-grid">
            <ul class="md-footer-meta__breadcrumbs">
                <li><a href="https://docs.civicrm.org">CiviCRM Documentation</a> / </li>
                <li><a href="{{ nav.homepage.url|url }}" title="{{config.site_name}}">{{config.site_name}}</a></li>
                {% if page %}
                    {% for crumb in page.ancestors %}
                        {% if crumb.link %}
                            <li>/ <a href="{{ crumb.link|e }}">{{ crumb.title }}</a></li>
                        {% else %}
                            <li>/ {{ crumb.title }}</li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% if page %}
                <li>/ {{ page.title }}</li>{% endif %}
            </ul>
            <div class="md-footer-copyright">
                <div class="md-footer-copyright__highlight">
                    <p>
                        © 2005 - {{ config.extra.year }}, CIVICRM LLC. All rights reserved.
                        CiviCRM and the CiviCRM logo are trademarks of CIVICRM LLC.
                    </p>
                    <p>
                        {% if not config.extra.generator == false %}
                            Made with
                            <a href="https://squidfunk.github.io/mkdocs-material/" target="_blank" rel="noopener">
                                Material for MkDocs
                            </a>
                        {% endif %}
                    </p>
                    <p>
                        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">
                            <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/us/88x31.png" />
                        </a>
                        <br />
                        Except where otherwise noted, content on this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a>.
                    </p>
                </div>
            </div>
            {% block social %}
                {% include "partials/social.html" %}
            {% endblock %}
        </div>
    </div>
</footer>
